html,
body {
  height: 100%;
}

body {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 100px;
}

.form-control>#left {
border-radius-top: 4px;
padd
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
  font-size: 20;
}
.btn-group-justified > .btn-group .btn {
  width: 100%;
}

.form-control {
  padding: 10px 15px;
  font-size: 25px;
  text-align: center;
}

.form-control-operator {
  text-align: left;
}